streamlit==1.31.0
langchain==0.1.9
langchain-groq==0.0.1
langchain-huggingface==0.0.1
langchain-community==0.0.24
faiss-cpu==1.7.4
sentence-transformers==2.3.1
pypdf==4.0.1
pillow==10.2.0
numpy==1.26.3
requests==2.31.0
